/* Common styles */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 200%;
  }
  
  li a {
    text-decoration: none;
    padding: 5px;
  }
  
  li a:hover {
    background-color: orange;
    color: white;
  }
  
  /* Styles for vertical navigation */
  .vertical-nav {
    width: 30%;
    background-color: skyblue;
  }
  
  .vertical-nav li a {
    display: block;
  }
  
  /* Styles for horizontal navigation */
  .horizontal-nav {
    background-color: lightgrey;
    width: 30%;
    height: 45px;
  }
  
  .horizontal-nav li {
    display: inline;
  }